.row.mt-3
  .col-md-3.col-12
    %div.h5
      = "Online Members (#{User.online.count})"
    %ul.list-group.list-group-flush
      - User.online.each do |user|
        %li.list-group-item.px-0
          = user.name

  .col
    .card
      .card-body
        .chat-container.d-flex.flex-column
          .chat-messages
            - @messages.each do |message|
              = render 'partials/message', message: message
          .row.mt-auto
            .col
              = form_for @message, remote: true do |f|
                .input-group
                  = f.text_field :text, {class: "form-control", "aria-describedby" => "messageInputField", "aria-label" => "Type a message.", :placeholder => "Type a message...", :type => "text"}
                  = f.button :submit, class: "btn btn-primary", id: "messageInputField" do
                    %i.bi.bi-cursor

